Выработка требований:

1. Как студент, я хочу иметь таймер для учебы,
чтобы работать по технике Pomodoro и не отвлекаться во время учебных сессий.

2. Как пользователь, я хочу видеть статистику моего учебного времени,
чтобы анализировать свой прогресс и корректировать учебные привычки.

3. Как ученик, я хочу получать награды за выполнение учебных сессий,
чтобы у меня была дополнительная мотивация продолжать заниматься.

4. Как пользователь, я хочу, чтобы у приложения был секундомер,
чтобы отслеживать длительность задач, которые не требуют фиксированных интервалов.

5. Как пользователь, я хочу настраивать внешний вид интерфейса,
чтобы приложение было удобным и приятным для меня.

Оценка количества пользователей
Мы ориентируемся на 15 000 пользователей в сутки, так как приложение может использоваться студентами, школьниками и самообучающимися по всему миру.

Период хранения информации
Данные об учебных сессиях и прогрессе будут храниться 5 лет, чтобы пользователи могли анализировать свою учебную активность за длительный период.

